.App {
  text-align: center;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

/* Any button inside of App class should have these styles */
.App Button {
		background-Color: green;
		color: white;
		font: inherit;
		border: 1px solid blue;
		padding: 8px;
		cursor: pointer;
}

.App Button:hover {
  background-Color: lightgreen;
  color: black;
}

.App button.Red {
	background-color: red;
}

.App button.Red:hover {
	background-color: salmon;
}